<div class="row">
  <div class="col">
    <h1>Dashboard</h1>
  </div>
</div>

<div class="row">
  <div class="col-lg-3">

    <% if @available_spaces.any? %>
      <div id="park-next-vehicle">
        <%= link_to 'Park Next Vehicle', space_parking_assignments_new_path(@available_spaces.first), id: 'parkit-link', class: 'btn btn-primary' %>

        <p class="text-muted">Want to choose your space? <%= link_to 'See all spaces', spaces_path %></p>
      </div>
    <% else %>
      <div id="park-next-vehicle" class="alert alert-danger">
        <p class="text-danger"><strong>There are no spaces available.</strong></p>
      </div>
    <% end %>
  </div>

  <div class="col-lg-9">
    <h2>Current Parking Assignments</h2>

    <% if @parking_assignments.any? %>
      <p class="text-muted">Click on a parking assignment to check the vehicle out.</p>

      <div id="active-parking-assignments" class="parking-assignments">
        <table class="table table-striped">
          <thead>
          <th scope="col">Space</th>
          <th scope="col">Vehicle</th>
          <th scope="col"></th>
          </thead>
          <tbody>
          <% @parking_assignments.each do |assignment| %>
            <tr id="<%= dom_id(assignment) %>">
              <td><%= assignment.space_identifier %></td>
              <td><%= assignment.vehicle_to_label %></td>
              <td><%= link_to 'Check Out', '#' %></td>
            </tr>
          <% end %>
          </tbody>
        </table>
      </div>
    <% else %>
      <div id="assigned-spaces">
        <p class="text-muted">There are no active parking assignments with vehicles to check out.</p>
      </div>
    <% end %>
  </div>
</div>
